/Fantnel/bin/
/Fantnel/obj/

/Nirvana.Chat/bin/
/Nirvana.Chat/obj/

/Nirvana.Cipher/bin/
/Nirvana.Cipher/obj/

/Nirvana.Common/bin/
/Nirvana.Common/obj/

/Nirvana.Development/bin/
/Nirvana.Development/obj/

/Nirvana.DevPlugin/bin/
/Nirvana.DevPlugin/obj/

/Nirvana.Game.Launcher/bin/
/Nirvana.Game.Launcher/obj/

/Nirvana.Heypixel/bin/
/Nirvana.Heypixel/obj/

/Nirvana.Interceptors/bin/
/Nirvana.Interceptors/obj/

/Nirvana.Public/bin/
/Nirvana.Public/obj/

/Nirvana.WPFLauncher/bin/
/Nirvana.WPFLauncher/obj/
